.jumbotron{
    background-color:palegoldenrod;
    text-align: center;
}
body{
    background-size: 85%;
}
h1 {
    text-align: center;

}



#time{
    text-align: center;
}
#game{
    text-align: center;
}
.choice{
   border: 1px solid lightgrey;
   padding: 11px;
   cursor: pointer;
}


body {

}

#start {
    text-align: center;
}